@import "../../styles/variables.module";

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .description {
    font-size: 22px;
    font-weight: 700;
  }

  .searchInput {
    width: 300px;
    display: flex;
    flex-direction: row;

    .input {
      width: 250px;
      height: 50px;
      padding: 20px 0 20px 30px;
      border-radius: 5px 0 0 5px;
      border: 1px solid $lightGray;
      border-right: none;
      outline: inherit;
    }

    .iconContainer {
      width: 50px;
      height: 50px;
      padding: 10px 10px 10px 0;
      border-radius: 0 5px 5px 0;
      border: 1px solid $lightGray;
      border-left: none;
    }

    .icon {
      width: 30px;
      height: 30px;
      color: $fontColorDark;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
