@import "../../styles/variables.module";

.container {
  padding: 60px;

  .title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
  }

  .info {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 700;
    color: $fontColorBlack;

    & > p {
      margin-bottom: 5px;
    }
  }
}
