.container {
  padding: 60px 100px 100px;

  .title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }

  .subtitle {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
}
